<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSS Component</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
    {{{body}}}
    <script src="main.js"></script>
</body>
</html>