<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSS Component</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/main.css">
    {{{block "pageStyles"}}}
</head>
<body>

{{{body}}}

<script src="javascripts/main.js"></script>
{{{block "pageScripts"}}}
</body>
</html>