<div class="rex">
    {{{title}}}
</div>

{{#contentFor 'pageStyles'}}<link rel="stylesheet" href="stylesheets/rex.css">{{/contentFor}}
{{#contentFor 'pageScripts'}}<script src="javascripts/rex.js"></script>{{/contentFor}}