<div class="rex">
    {{{title}}}
</div>
<div class="kpman">
    <a href="pinterest">pinterest</a>
</div>

{{#contentFor 'pageStyles'}}<link rel="stylesheet" href="stylesheets/rex.css">{{/contentFor}}
{{#contentFor 'pageScripts'}}<script src="javascripts/rex.js"></script>{{/contentFor}}